body {
    padding-top: 70px;
    padding-bottom: 30px;
}
label {
    margin-bottom: 0px;
}
#mapid {
    height: 240px;
    margin-bottom: 10px;
}
.filter-box {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    min-height: 100px;
    position: relative;
}
.filter-box-title {
    margin: 0, auto;
    text-align: center;
    height: 100%;
}
.filter-name {
    font-weight: bold;
    margin-right: 20px;
}

.filter-type-name {
    font-weight: bold;
}
.options {
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    display: table;
    width: 100%;
}
.options label {
    display: table-cell;
    text-align: center;
}

.options .filter-type{
    display: inline;
}

.selectorDisp {
    position: relative;
    right: 0;
}
.tableauChartHolder{
    width: 100%;
    text-align: center;
}
.tableauChart {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

#viz1{
    margin-right: 10px;
}

#viz2{
    margin-left: 10px;
}