body {
    padding-top: 70px;
    padding-bottom: 30px;
}
#mapid {
    height: 360px;
}
.filter-box {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    min-height: 100px;
    position: relative;
}
.filter-box-title {
    margin: 0, auto;
    text-align: center;
}
.filter-name {
    font-weight: bold;
    margin-right: 50px;
}
.options{
    margin-top: 10px;
    margin-bottom: 5px;
}
.selectorDisp {
    position: relative;
    right: 0;
}

.tableauPlaceholder{
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  min-height: 100px;
}
