body {
    padding-top: 70px;
    padding-bottom: 30px;
}
label {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
#mapid {
    height: 240px;
    margin-bottom: 10px;
}
.filter-box {
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    min-height: 100px;
    position: relative;
}
.filter-box-title {
    margin: 0, auto;
    text-align: center;
}
.filter-name {
    font-weight: bold;
    margin-right: 50px;
}
.options {
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    display: table;
    width: 100%;
}
.options label {
    display: table-cell;
    text-align: center;
}
.selectorDisp {
    position: relative;
    right: 0;
}
.tableauPlaceholder {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    min-height: 100px;
}
